#root {
    text-align: center;
    display: flex;
    justify-content: left;
    width: 100vw;
    min-height: 100vh;
    overflow: hidden;
    background-color: #FAF0E6;
}

* {
    user-select: none;
}

#root>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.swipe {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
}

.card-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-color: black;
    border-style: solid;
    font-family: 'Roboto';
    font-weight: medium;
}

.cardContainer {
    width: 80vw;
    max-width: 400px;
    height: 500px;
    box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
    border-color: black;
    border-style: solid;
}

.card {
    position: relative;
    background-color: #fff;
    width: 80vw;
    max-width: 400px;
    height: 600px;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    color: white;
}

.cardContent {
    width: 100%;
    height: 100%;
}