#root {
    width: 100vw;
    min-height: 100vh;
    background-color: #FAF0E6;
}

.App {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 100vw;
    min-height: 100vh;
}

.right-side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 950px;
    height: 630px;
}

.bottom_right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
}

.linkContainer {
    background-color: white;
    width: 350px;
    border-radius: 10px;
    text-align: center;
    height: 250px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.button {
    width: 200px;
    height: 50px;

    font-family: 'Roboto';
    font-weight: regular;
    font-size: 25px;

    border-radius: 10px;
}

.chatContainer {
    background-color: white;
    width: 500px;
    border-radius: 10px;
    text-align: center;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.infoContainer {
    background-color: white;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;

    padding: 30px;
    margin-left: 20px;
    margin-right: 20px;
    font-family: 'Roboto';
    font-size: 20px;

    min-height: 300px;
}

* {
    user-select: none;
}

.no-more-cats {
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 25px;
    text-align: center;
}

.swipe {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
}

.card-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    font-family: 'Roboto';
    font-weight: bold;
    font-size: 25px;
}

.cardContainer {
    width: 80vw;
    max-width: 400px;
    height: 500px;
    box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
    margin: 20px;
    margin-bottom: 150px;
}

.upper-chat {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
}

.text-box {
    width: 350px;
    height: 30px;
    border-radius: 10px;
    border-color: #D6CCC2;
    font-family: 'Roboto';
    margin-bottom: 10px;
}

.right-message {
    align-self: flex-end;
    background-color: #5FC9F8;
    padding: 10px;
    border-radius: 10px;
}

.left-message {
    align-self: flex-start;
    background-color: #ECECEC;
    padding: 10px;
    border-radius: 10px;
}

.card {
    position: relative;
    background-color: #fff;
    width: 80vw;
    max-width: 400px;
    height: 600px;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 15px;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: calc((50vh - 20px) / 2);
    grid-gap: 30px;
    padding-left: 100px;
    padding-right: 100px;
}

.grid-item {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.1);
    color: white;
    transition: transform 0.3s;
    height: 160px;
    width: 300px;

    background-color: #fff;
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 15px;

    font-family: 'Roboto';
    font-weight: bold;
    font-size: 25px;
}

.grid-item:hover {
    transform: scale(1.02);
    box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
    transition: all 0.3s ease 0s;
}

.fav-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.go-back-btn {
    margin-top: 30px;
}