#root {
    width: 100vw;
    min-height: 100vh;
    background-color: #FAF0E6;
}

.App {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 100vw;
    min-height: 100vh;
}

.right-side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 950px;
    height: 630px;
}

.bottom_right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
}

.linkContainer {
    background-color: white;
    width: 430px;
    border-radius: 10px;
    text-align: center;
    height: 250px;
}

.chatContainer {
    background-color: white;
    width: 430px;
    border-radius: 10px;
    text-align: center;
    height: 250px;
}

.infoContainer {
    background-color: white;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;

    padding: 30px;
    margin-left: 20px;
    margin-right: 20px;
    font-family: 'Roboto';
    font-size: 20px;

    min-height: 300px;
}

* {
    user-select: none;
}

.swipe {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
}

.card-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    font-family: 'Roboto';
    font-weight: bold;
    font-size: 25px;
}

.cardContainer {
    width: 80vw;
    max-width: 400px;
    height: 500px;
    box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
    margin: 20px;
    margin-bottom: 150px;
}

.card {
    position: relative;
    background-color: #fff;
    width: 80vw;
    max-width: 400px;
    height: 600px;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 15px;
}